extends ../layouts/default

block content

	+primerSeccion('Zircon Learning')
	
	#segundaSeccion.mt-3
		.container
			.row
				.col
					i.fa.fa-code(aria-hidden="true")
					p
				.col
					i.fa.fa-superpowers(aria-hidden="true")
					p
				.col
					i.fa.fa-bolt(aria-hidden="true")
					p