extends ../layouts/default

block content

	+primerSeccion('Zircon Learning')
	
	#segundaSeccion.mt-3
		.container.mt-5
			h2.mb-5.text-center Experiencia Zircon
			.row
				.col-md-4
					.mb-3.text-center
						i.fa.fa-code.d-inline.mr-4(aria-hidden="true")
						h4.d-inline Explicaciones
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias culpa veniam aperiam corrupti odit inventore consectetur, dolorum consequatur, nostrum saepe cumque aspernatur obcaecati accusantium numquam dolore esse reprehenderit quo reiciendis?
				.col-md-4
					.mb-3.text-center
						i.fa.fa-superpowers.d-inline.mr-4(aria-hidden="true")
						h4.d-inline Ejercicios
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias culpa veniam aperiam corrupti odit inventore consectetur, dolorum consequatur, nostrum saepe cumque aspernatur obcaecati accusantium numquam dolore esse reprehenderit quo reiciendis?
				.col-md-4
					.mb-3.text-center
						i.fa.fa-bolt.d-inline.mr-4(aria-hidden="true")
						h4.d-inline Soporte
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias culpa veniam aperiam corrupti odit inventore consectetur, dolorum consequatur, nostrum saepe cumque aspernatur obcaecati accusantium numquam dolore esse reprehenderit quo reiciendis?
