extends ../layouts/default

block content

	+primerSeccion('Zircon Learning')
	
	#segundaSeccion.mt-3
		.container
			.row
				.col-md-4
					i.fa.fa-code(aria-hidden="true")
					h4 Explicaciones
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias culpa veniam aperiam corrupti odit inventore consectetur, dolorum consequatur, nostrum saepe cumque aspernatur obcaecati accusantium numquam dolore esse reprehenderit quo reiciendis?
				.col-md-4
					i.fa.fa-superpowers(aria-hidden="true")
					h4 Ejercicios
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias culpa veniam aperiam corrupti odit inventore consectetur, dolorum consequatur, nostrum saepe cumque aspernatur obcaecati accusantium numquam dolore esse reprehenderit quo reiciendis?
				.col-md-4
					i.fa.fa-bolt(aria-hidden="true")
					h4 Soporte
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias culpa veniam aperiam corrupti odit inventore consectetur, dolorum consequatur, nostrum saepe cumque aspernatur obcaecati accusantium numquam dolore esse reprehenderit quo reiciendis?
