extends ../layouts/default

block content

	+primerSeccion('Zircon Learning')
	
	#segundaSeccion.mt-3
		.container
			.row
				.col-4
					i.fa.fa-code(aria-hidden="true")
					h4 Explicaciones
					p
				.col-4
					i.fa.fa-superpowers(aria-hidden="true")
					h4 Ejercicios
					p
				.col-4
					i.fa.fa-bolt(aria-hidden="true")
					h4 
					p