extends ../layouts/default

block content

	+primerSeccion('Zircon Learning')
	
	#segundaSeccion
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores doloremque ratione cum error cupiditate sed expedita at delectus, ex hic nesciunt, tenetur totam ipsam repellat nemo voluptatum eos illo est?

		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi, officia illo aut natus est corporis excepturi officiis sint dicta. Nisi sequi illo illum quae deserunt vitae veniam nulla laboriosam.

		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi, officia illo aut natus est corporis excepturi officiis sint dicta. Nisi sequi illo illum quae deserunt vitae veniam nulla laboriosam.

		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi, officia illo aut natus est corporis excepturi officiis sint dicta. Nisi sequi illo illum quae deserunt vitae veniam nulla laboriosam.

		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi, officia illo aut natus est corporis excepturi officiis sint dicta. Nisi sequi illo illum quae deserunt vitae veniam nulla laboriosam.

		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi, officia illo aut natus est corporis excepturi officiis sint dicta. Nisi sequi illo illum quae deserunt vitae veniam nulla laboriosam.

		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi, officia illo aut natus est corporis excepturi officiis sint dicta. Nisi sequi illo illum quae deserunt vitae veniam nulla laboriosam.

		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi, officia illo aut natus est corporis excepturi officiis sint dicta. Nisi sequi illo illum quae deserunt vitae veniam nulla laboriosam.

		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi, officia illo aut natus est corporis excepturi officiis sint dicta. Nisi sequi illo illum quae deserunt vitae veniam nulla laboriosam.